:root {
	--color-primary-text: #757575;
	--color-secondary-text: #212121;
	--color-akcent: #2196f3;
	--primary-color: #fff;
	--secondary-backgraund: #2f303a;
	--color-border: #ececec;
	--color-background: #f5f4fa;
	--color-btn-hover:#188ce8;
	--primary-font-size: 14px;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--primary-color);
	color: var(--color-primary-text);
	font-size: var(--primary-font-size);
	letter-spacing: 0.03em;
}







h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
address,
a {
	font-style: normal;
}
.container {
	margin: 0 auto;
	width: 1200px;
	padding: 0 15px;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.link {
	text-decoration: none;
}
/* styles header */

.link-name {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--color-secondary-text);
	margin-right: 93px;
}
.span-name {
	color: var(--color-akcent);
}
.nav-link {
	font-weight: 500;
	font-size: var(--primary-font-size);
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--color-secondary-text);
	display: block;
	padding: 32px 0;
}
.heder-container,
.nav,
.nav-list {
	display: flex;
	align-items: center;
}
.nav {
	margin-right: auto;
}

.contact {
	font-family: inherit;
	font-weight: 500;
	font-style: normal;
	font-size: var(--primary-font-size);
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--color-primary-text);
	padding: 32px 0;
}
.header {
	border-bottom: 1px solid var(--color-border);
}



.nav-item:not(:last-child) {
	margin-right: 50px;
}

.current {
	color: var(--color-akcent);
}
/* styles main Studio */

.herro-content {
	background-color: var(--secondary-backgraund);
	padding: 200px 0;
	text-align: center;
}

.herro-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	margin: 0 auto 30px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-color);
	width: 696px;
}
.herro-bth {
	display: inline-block;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	padding: 10px 32px;
	background-color: var(--color-akcent);
	color: var(--primary-color);
	cursor: pointer;
	border: none;
	border-radius: 4px;
	min-width: 200px;
}
.herro-bth:hover,
.herro-bth:focus {
	background: var(--color-btn-hover);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.advantages-title {
	font-weight: 700;
	font-size: var(--primary-font-size);
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--color-secondary-text);
	margin-bottom: 10px;
}
.advantages-item:not(:last-child) {
	margin-right: 30px;
}
.advantages-list {
	display: flex;
}
.advantages-content {
	line-height: 24px;
	width: 270px;
}
.team {
	background-color: var(--color-background);
}
.work-title,
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	color: var(--color-secondary-text);
	margin-bottom: 50px;
	text-align: center;
}
.work-list,
.team-list {
	display: flex;
}
.work {
	padding-top: 0;
}
.work-item:not(:last-child) {
	margin-right: 30px;
}

.team-person {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	color: var(--color-secondary-text);
		margin-bottom: 10px;
	text-align: center;
}
.about-team {
	padding: 30px 0;
}
.team-positions {
	font-size: 16px;
	line-height: 1.18;
		text-align: center;
}
.team-item:not(:last-child) {
	margin-right: 30px;
}
.team-item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background: var(--primary-color);
}
.team-link {
	display: block;
	width: 270px;
}

/* styles main Portfolio */

.project-btn {
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: inherit;
	color: var(--color-secondary-text);
	background-color: var(--color-background);
	border: none;
	border-radius: 4px;
	padding: 6px 22px;
	cursor: pointer;
}
.project-item:not(:last-child) {
	margin-right: 8px;
}
.project-btn:hover,
.project-btn:focus {
	color: var(--primary-color);
	background-color: var(--color-akcent);
	outline: none;
}
.project-filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.project-btn:not(:last-child) {
	margin-right: 8px;
}
.project-btnfilter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.project-link {
	display: block;
}
.project-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--color-secondary-text);
	margin-bottom: 4px;
}

.project-link:hover,
.project-link:focus {
	color: var(--color-akcent);
}
.project-content {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.project-about {
	border: 1px solid #eeeeee;
	border-top: none;
	padding: 20px 24px;
}
.project-content:nth-child(3n + 3) {
	margin-right: 0px;
}
.project-content:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}

.project-view {
	font-size: 16px;
	line-height: 1.87;
	color: var(--color-primary-text);
}

/* styles footer */
.footer {
	background-color: var(--secondary-backgraund);
	padding: 60px 0px;
}

.footer-linkname {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: inherit;
	color: var(--primary-color);
	text-decoration: none;
}
.contact-map {
	line-height: 1.71;
	color: var(--primary-color);
	/* text-decoration: none; */
}
.address {
	margin-top: 20px;
}
.address-item {
	font-weight: 400;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
}
.address-item {
	margin-bottom: 9px;
}
.address-item:last-child {
	margin-bottom: 0;
}
.contact-footer {
	font-size: var(--primary-font-size);
	color: rgba(255, 255, 255, 0.6);
}
.nav-link:hover,
.nav-link:focus,
.contact:hover,
.contact:focus,
.contact-map:hover,
.contact-map:focus,
.contact-footer:hover,
.contact-footer:focus  {
	color: var(--color-akcent);
	outline: none;
}
.nav-svg {
	fill: var(--color-primary-text);
	margin-right: 10px;

}
.contact:hover .nav-svg {
		fill: var(--color-akcent);
	
}
